.bg-page-container
{
    background-image: url("https://ik.imagekit.io/zpcyxfciu/taj-mahal?updatedAt=1773219843271");
    width: 350px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}